section {
  margin-bottom: 70px;
}
.home-section {
  padding: 25px 20px;
  position: relative;
}

/*******************************************************************
                              HERO BANNER 
*******************************************************************/
#hero-banner {
  margin-top: 20px;
}

.hero-description {
  text-wrap: balance;
  margin-bottom: 20px;
}

.hero-pictures-container {
  height: 400px;
  display: flex;
}

.hero-picture {
  width: 25%;
  flex: 1;
  object-fit: cover;
  object-position: center;
  transition: all 500ms ease;
}

.hero-pictures-description {
  position: relative;
  width: 90%;
  padding: 20px 25px;
  bottom: 80px;
  z-index: 1;
  text-align: justify;
  text-wrap: balance;
  margin: auto;
}

/*******************************************************************
                                NEWS 
  *******************************************************************/
#news .main-btn {
  margin: 20px auto;
  display: block;
  width: fit-content;
}
/*******************************************************************
                                ERC 
  *******************************************************************/
.erc-wrapper p {
  margin-bottom: 20px;
}
.erc-logo {
  display: block;
  margin-left: auto;
}

/*******************************************************************
                                JOB 
  *******************************************************************/
#job {
  max-height: 510px;
}
.jobs-container {
  position: relative;
}
.jobs-container .swiper {
  position: relative;
  left: 0;
  bottom: 90px;
}

.jobs-container .blue-card {
  padding: 20px 20px 100px;
}
#job .swiper-slide {
  padding: 0 30px;
}
.job-card {
  padding: 20px;
}
.job-title {
  font-size: 20px;
  text-wrap: balance;
  font-weight: 600;
  margin-bottom: 15px;
}
.job-action {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}
.job-action .date {
  text-align: right;
  font-size: 10px;
}

/*******************************************************************
                              LOGO
*******************************************************************/
.swiper-logo {
  overflow: hidden;
  text-align: center;
}
.swiper-logo img {
  width: 100px;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: color-burn;
}
/*******************************************************************
                              DESKTOP VERSION 
*******************************************************************/

@media screen and (min-width: 800px) {
  .home-section {
    padding: 0;
    margin-top: 10px;
    position: relative;
  }
  /*******************************************************************
                              HERO BANNER 
  *******************************************************************/
  #hero-banner {
    margin-top: 20px;
  }
  .hero-pictures-container {
    height: 500px;
  }
  .hero-pictures {
    max-height: 600px;
  }
  .hero-pictures-description {
    max-width: 700px;
    bottom: 160px;
    margin-right: 5%;
  }
  /*******************************************************************
                                ERC 
  *******************************************************************/

  .erc-wrapper {
    display: flex;
    gap: 50px;
    align-items: center;
  }
  .erc-wrapper div {
    width: 100%;
  }
  .erc-logo {
    width: 50%;
    max-width: 300px;
    height: auto;
    object-fit: contain;
  }
  /*******************************************************************
                                JOB 
  *******************************************************************/

  .job-title {
    font-size: 25px;
  }
  .job-action .date {
    font-size: 13px;
  }
}
