.home-section {
  padding: 25px 20px;
  position: relative;
}
.title-section {
  font-size: 22px;
  margin-bottom: 10px;
}
.theme {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 9px;
}
.section-theme {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.swiper-btn {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  font-size: 30px;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 5px 0;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  box-shadow: 1px 2px 5px -1px #7c8284;
}
.swiper-btn-prev {
  left: 5px;
}
.swiper-btn-next {
  right: 5px;
}
/*******************************************************************
                              HERO BANNER 
*******************************************************************/
#hero-banner {
  margin-top: 20px;
}
.hero-subject {
  font-size: 55px;
  font-weight: 700;
  letter-spacing: -1.65px;
  text-wrap: balance;
  margin-bottom: 20px;
}

.hero-description {
  text-wrap: balance;
  margin-bottom: 20px;
}

.hero-pictures-container {
  height: 400px;
  display: flex;
}

.hero-picture {
  width: 25%;
  flex: 1;
  object-fit: cover;
  object-position: center;
  transition: all 500ms ease;
}

.hero-pictures-description {
  position: relative;
  width: 80%;
  padding: 20px 25px;
  bottom: 80px;
  z-index: 1;
  text-align: justify;
  text-wrap: balance;
  margin: auto;
}

/* A FINIR */

/*******************************************************************
                                NEWS 
  *******************************************************************/
.news-theme {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.news-title {
  margin-bottom: 20px;
}
.news-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}
.news-link {
  display: block;
  margin: auto;
}

#news .swiper .swiper-btn {
  top: auto;
  bottom: 115px;
  transform: translateY(0);
}
#news .swiper .swiper-btn-prev {
  left: 10px;
}
#news .swiper .swiper-btn-next {
  right: 10px;
}
/*******************************************************************
                                ERC 
  *******************************************************************/
.erc-wrapper p {
  margin-bottom: 20px;
}
.erc-logo {
  display: block;
  margin-left: auto;
}

/*******************************************************************
                                JOB 
  *******************************************************************/
.jobs-container {
  position: relative;
}
.jobs-container .swiper {
  position: relative;
  left: 0;
  bottom: 90px;
}

.jobs-container .blue-card {
  padding: 20px 20px 100px;
}
#job .swiper-slide {
  padding: 0 30px;
}
.job-card {
  padding: 20px;
}
.job-title {
  font-size: 20px;
  text-wrap: balance;
  font-weight: 600;
  margin-bottom: 15px;
}
.job-action {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}
.job-action .date {
  text-align: right;
  font-size: 10px;
}

/*******************************************************************
                              LOGO
*******************************************************************/
.swiper-logo {
  overflow: hidden;
}
.swiper-logo img {
  width: 100px;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: color-burn;
}
/*******************************************************************
                              DESKTOP VERSION 
*******************************************************************/

@media screen and (min-width: 800px) {
  .home-section {
    padding: 0;
    margin-top: 10px;
    position: relative;
  }
  .theme {
    font-size: 15px;
    font-weight: 400;
  }
  .title-section {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .padded-align {
    padding: 0;
  }
  /*******************************************************************
                              HERO BANNER 
  *******************************************************************/
  #hero-banner {
    margin-top: 20px;
  }
  .hero-subject {
    font-size: 80px;
    font-weight: 600;
  }
  .hero-pictures-container {
    height: 500px;
  }

  .hero-pictures-description {
    width: 50%;
    max-width: 500px;
    bottom: 80px;
    margin-left: 45%;
  }
  /*******************************************************************
                                ERC 
  *******************************************************************/
  #erc {
    margin-bottom: 50px;
  }
  .erc-wrapper {
    display: flex;
    gap: 50px;
    align-items: center;
  }
  .erc-wrapper div {
    width: 100%;
  }
  .erc-logo {
    width: 50%;
    max-width: 300px;
    height: auto;
    object-fit: contain;
  }
  /*******************************************************************
                                JOB 
  *******************************************************************/

  .job-title {
    font-size: 25px;
  }
  .job-action .date {
    font-size: 13px;
  }
}
