#hot-topic {
  margin-bottom: 20px;
}
.hot-topic.main {
  height: 400px;
  background: center / cover no-repeat url("../assets/header-1.png");
  margin-bottom: 20px;
}
.hot-topic a {
  background: linear-gradient(transparent, black);
  display: block;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: end;
  color: white;
  padding: 20px;
}
.hot-topic .section-theme {
  border-color: white;
  width: fit-content;
}
.hot-topic.second {
  display: none;
}
.news-topic {
  width: 100%;
}
.news-release {
  font-size: 11px;
  margin-top: 10px;
}
.news-second-container .news-title {
  font-size: 17px;
  margin-bottom: 0px;
}
.news-second-card {
  margin: 20px 0;
}
.news-second-container {
  display: flex;
  gap: 5px;
}
.topic-picture {
  width: 150px;
  height: 95px;
}
.topic-info {
  flex: 1;
}
.hr {
  width: 100px;
  border-bottom: 1px solid black;
  margin: 5px 0;
}
.news-second-container .news-description {
  max-height: 56px;
  overflow: hidden;
  position: relative;
  white-space: inherit;
}
.read-more {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  padding: 0px 5px 2px 1px;
  color: grey;
}

/*******************************************************************
                              DESKTOP VERSION 
*******************************************************************/

@media screen and (min-width: 800px) {
  #hot-topic {
    display: grid;
    grid-template-areas:
      "main main"
      "second second";
    gap: 5px;
  }
  #hot-topic .swiper {
    display: none;
  }
  .hot-topic.main {
    margin-bottom: 0;
    grid-area: main;
  }
  .hot-topic.second {
    display: block;
    height: 250px;
    background: center / cover no-repeat url("../assets/header-1.png");
  }
  #hot-topic .theme,
  .news-container .theme {
    font-size: 12px;
  }
  .hot-topic.main .news-title {
    font-size: 50px;
    text-wrap: balance;
  }
  .hot-topic .news-title {
    font-size: 25px;
    text-wrap: balance;
  }
  .news-title {
    font-size: 20px;
    text-wrap: balance;
  }
  .topic-picture {
    width: 250px;
    height: 130px;
  }
  .news-second-container .news-description {
    max-height: 90px;
  }
}

@media screen and (min-width: 1100px) {
  #hot-topic {
    display: grid;
    grid-template-areas:
      "main second"
      "main second";
    gap: 5px;
  }
  .hot-topic.main {
    height: 505px;
  }
}
