section {
  margin-top: 50px;
}

/*******************************************************************
                            Info Banner 
*******************************************************************/
#research-hero {
  margin-top: 40px;
}
.research-hero-content {
  text-wrap: balance;
}

.research-hero-img {
  margin: 10px auto 20px;
  text-align: right;
}
.research-hero-img img {
  width: 100%;
}
.research-hero-img p {
  font-size: 10px;
}

.research-data {
  display: flex;
  font-weight: 700;
  font-size: 13px;
  gap: 15px;
  width: fit-content;
  padding: 10px 0;
  border-top: 1px solid black;
}

.research-data span {
  font-weight: 400;
}
.article-section-data {
  margin-bottom: 10px;
}
.article-section-title {
  font-size: 30px;
  font-weight: 500;
}
.article-section-img {
  height: 200px;
  text-align: center;
  margin-top: 20px;
}
.article-section-img img {
  display: inline-block;
  height: 100%;
  width: auto;
}

@media screen and (min-width: 800px) {
  #research-hero {
    display: grid;
    grid-template-areas:
      "desc pict"
      "data pict";
    grid-template-columns: 1fr;
    gap: 50px;
    row-gap: 20px;
    align-items: center;
  }
  .research-hero-content {
    grid-area: desc;
  }
  .research-hero-img {
    grid-area: pict;
  }
  #research-hero .research-data {
    grid-area: data;
  }
  .research-data {
    flex-direction: column;
    border: none;
    padding: 0;
  }
  .research-data p {
    border-top: 1px solid black;
    font-size: 13px;
    padding-top: 10px;
  }
  .article-section {
    display: grid;
    grid-template-areas:
      "data para"
      "data para"
      "pict pict";
    gap: 10vw;
    row-gap: 20px;
  }
  .article-section-data {
    grid-area: data;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .article-section-text {
    grid-area: para;
  }
  .article-section-img {
    grid-area: pict;
  }
}

@media screen and (min-width: 1000px) {
  #research-hero {
    align-items: start;
  }
}
